{% load static %}
<!doctype html>
<link href="{% static 'styles/main.css' %}" rel="stylesheet"> 

<nav class="navbar navbar-expand-lg bg-primary w-100" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Trackify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            {% if not user.is_authenticated %}
            
            <div class="d-flex ms-auto">
                <form action="{% url 'login' %}" method="GET" name="login" class="me-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <form action="{% url 'register' %}" method="GET" name="register">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>

            
            {% endif %}

            {% if user.is_authenticated %}
            <div class="d-flex ms-auto" style="padding-right: 70px">
                <form action="{% url 'logout' %}" method="POST" name="logout" class="me-2">
                    {% csrf_token %}
                    <div class="col-md-3 ms-auto text-end" style="padding-right: 50px">
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </div>
                </form>            
            </div> 
            {% endif %}

        </div>
    </div>
</nav>

