/* Hide the sidebar by default */
.sidebar {
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  padding-bottom: 0; 
  overflow-x: hidden;
  transition: width 0.3s;
}

/* Expand the sidebar on hover */
.sidebar:hover {
  width: 250px;
}

/* Hover area to trigger sidebar */
.hover-area {
  width: 100px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10; /* Ensure it’s on top */
}

