{% extends 'base.html'%}

<style> 
    .content-container {
        margin-left: 260px; /* Same width as your navbar */
        padding-top: 80px; /* Your padding from the top */
        width: calc(100% - 260px); /* Ensures content starts after the navbar */
    }

    @media (max-width: 768px) {
        /* Adjust for smaller screens if needed */
        .content-container {
            margin-left: 0;
            width: 100%;
            padding-left: 0;
        }
    }
</style> 


{%block content%}
<div class="container mt-4;"> 
   
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{%url 'expenses'%}">
            Expenses
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add expenses</li>
    </ol>
  </nav>

  <div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add New Expense</h5>
        </div>
        <form action="{% url 'add-expenses' %}" method="post">
            {% include 'partials/_messages.html' %}
            {%csrf_token%}
            <div class="card-body">
                {% csrf_token %}
                <div class="mb-3 form-group">
                    <label for="date">Date of Expense</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>

                <div class="mb-3 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" required>
                </div>

                <div class="mb-3 form-group">
                    <label for="category">Category</label>
                    <select name="category" id="category" class="form-select" required>
                        {% for category in categories%}
                            <option name="category" value="{{category.name}}">{{category.name}}</option> 
                        {%endfor%}
                    </select>
                </div>

                <div class="mb-3 form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" required>
                </div>

                <div class="d-grid">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
 
</div> 
  

{%endblock%}