{% extends 'base.html'%}

{% block content %}
<h1>Expenses List</h1> 

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Expense</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Bought Beer</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Bought Beer</td>
    </tr>
  </tbody>
</table>
{% endblock %}
