{% extends 'base.html'%}

{% block content %}


<div class="container mt-4" style="padding-top: 80px; padding-left: 100px;"> 
  
  <div class="row"> 
    <div class="col-md-10"> 
      {% include 'partials/_messages.html' %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb"> 
          <li class="breadcrumb-item">
            <a href="">Expenses</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
        </ol>
      </nav>
    </div> 
    {%if user.is_authenticated%}
      <div class="col-md-2">
        <a href="{%url 'add-expenses'%}" class="btn btn-primary">Add Expense</a> 
      </div> 
    {%else%}
      <div class="col-md-2">
        <a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true">Add Expense</a> 
      </div> 
    {%endif%}

    <div class="container">
      
      <table class="table table-stripped table-hover">
        <thead>
          <tr> 
            <th>Date</th> 
            <th>Amount ({{currency}})</th> 
            <th>Category</th> 
            <th>Description</th> 
          </tr> 
        </thead> 
        <tbody> 
        {% if expenses.count %}
          {% for expense in expenses%}
          <tr> 
            <td>{{expense.date}}</td> 
            <td>{{expense.amount}}</td> 
            <td>{{expense.category}}</td>
            <td>{{expense.description}}</td
              >
            <td>
              <a href="{%url 'edit-expense' expense.id %}" class="btn btn-secondary"> 
                Edit  
              </a> 
            </td> 
          {% endfor %}
        </tbody> 

        
      </table> 
      {%endif%}
    </div> 
  </div> 
</div> 


{% endblock %}
