{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trackify {% block title %}{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">


  </head>
  
  <body>
    <div class="d-flex justify-content-center align-items-center min-vh-100" >
      <div class="border-dark p-4 rounded bg-light" style="min-width: 600px; min-height: 650px;">       
          {%block content%} {%endblock%} 
      </div> 
    </div> 
    </header>

    
  </body>
</html>


