{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trackify {% block title %}{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- Additional Custom Styles -->
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    <link href="{% static 'styles/dashboard.css' %}" rel="stylesheet"> 
    <link href="{%static 'styles/navbar.css' %}" rel="stylesheet"> 
    <link href="{%static 'styles/expenseList.css' %}" rel="stylesheet"> 

  </head>
  
  <body>
    <div class="container-fluid">
      <!-- Header Section -->
      <div class="col-md-12">
        {% include 'partials/_navbar.html' %}
    </div>

      <!-- Main Content Section -->

      <div class="col-12">
        {% include 'partials/_dashboard.html' %}
      </div>
      
      
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        
      </main>
      <!-- Dynamic Content Section -->
   
      <div class="col-12">
        {% block content %}
        {% endblock %}
      </div>

    </div>

    <!-- Bootstrap JS and Custom Scripts -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>


