{% extends 'base.html'%}
<h1>Expenses List</h1> 

<ul class="lists-group">
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 
<li class="lists-group-item"> Bought Beer </li> 

